---
import '../styles/global.css';
const pageTitle = "Blog!!!!";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <h1>My sexy {pageTitle}</h1>
		<ul>
            <li>My dog did whattt???</li>
            <li>Running away from home! (im a grown man)</li>
            <li>Stealing from the elderly - Tips and tricks for success</li>
            <li>Finding atlantis?</li>
        </ul>
        <ul>
            <li><a href="posts/post-1">Post 1</a></li>
            <li><a href="/posts/post-2/">Post 2</a></li>
            <li><a href="/posts/post-3/">Post 3</a></li>
        </ul>
	</body>
</html>
